SOMPO_ENV=dev
SOMPO_DB_PATH=data/processed/sompo.db
# gere com: python -c "from cryptography.fernet import Fernet;print(Fernet.generate_key().decode())"
SOMPO_ENCRYPTION_KEY=
SOMPO_ADMIN_PASSWORD=troque-esta-senha
SOMPO_ANALYST_PASSWORD=troque-esta-senha
SOMPO_OPERATOR_PASSWORD=troque-esta-senha
SOMPO_RANDOM_SEED=42
